<div class="row">
  <div class="column">
    <p><%= link "<- go back", to: "/" %></p>
    <h2>Palindrome Results</h2>
    <p>Input = <%= @str %></p>
    <p>Is it a Palindrome? = <%= @ans %></p>
  </div>
</div>
